@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');

:root {
  --primary-color: #22254b;
  --secondary-color: #272a42;
}


header {
  padding: 1rem;
  display: flex;
  justify-content: flex-end;
  background-color: var(--secondary-color);
}


main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.fixed-top {
  position: static;
}

.descricaoFilme{
  font: 600 4rem/1.125 "Poppins", sans-serif;
  max-width: 1200px;
  box-sizing: border-box;
  padding: 30px 0;
  text-align: center;
  margin: 0 auto;
 
  color: #ededed;
}

.listM {
  width: 300px;
  margin: 1rem;
  background-color: var(--secondary-color);
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
  position: relative;
  overflow: hidden;
  border-radius: 3px;
}

.listM img {
  width: 100%;
}

.listM:hover{
  cursor: pointer;
}

.movie-info {
  color: #eee;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap:0.2rem;
  padding: 0.5rem 1rem 1rem;
  letter-spacing: 0.5px;
}

.movie-info h3 {
  margin-top: 0;
}

.movie-info span {
  background-color: var(--primary-color);
  padding: 0.25rem 0.5rem;
  border-radius: 3px;
  font-weight: bold;
}

.movie-info span.green {
  color: lightgreen;
}

.movie-info span.orange {
  color: orange;
}

.movie-info span.red {
  color: red;
}

.overview {
  background-color: #fff;
  padding: 2rem;
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  max-height: 100%;
  transform: translateY(101%);
  overflow-y: auto;
  transition: transform 0.3s ease-in;
}

.listM:hover .overview {
  transform: translateY(0);
}

.rmv-movie{
  position: absolute;
  padding: 2px 5px;
  background-color: #3d416b;
  border-radius: 0 5px 5px 0;
  color: #ddd;
  z-index: 1
}

.rmv-movie:hover{
  background-color: #22254b;
  color: white;
  transition: 0.3s;
}

