@media (max-width: 800px) {

  .navbar-nav {
    display: flex;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    width: 100%;
  }

  .navbar-collapse {
    z-index: 10;
    background-color: #000000ea;
    width: 100%;
    padding: 30px;
    display: flex;
    flex-direction: column;
  }

  .img-container img {
    height: 50vh;
  }

  .navbar {
    height: 10vh;
  }

  .nav-item {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .dropdown-item {
    text-align: center;
    margin: 10px 0;
    font-size: 1.5rem;
  }

  .nav-item ul {
    width: 80%;
  }

  .navbar-nav .dropdown-menu {
    position: absolute;
    width: 100%;
  }

  .input-group {
    width: 95%;
  }

  .btn-color {
    padding: 8px;
  }
  
  .madeby{
    width: 90%;
  }
  

  .movie-container{
    flex-direction: column;
    background-size: contain;
    background-repeat: no-repeat;
  }


  .imagem,
  .imagem-desc {
    display: flex;
    align-items: end;
    gap: 40px;
  }

  .imagem img,
  .imagem-desc img{
    width: 200px !important;
  }

  #exampleModalCenter .modal-content{
    height: 50vh;
  }
  .movie {
    width: 28%;
  }

  .btn-back{
    margin-right: 80%;
  }
    
}

@media (max-width: 600px) {
  .navbar-brand img {
    width: 13vw;
  }

  .img-container img {
    height: 40vh;
  }

  .img-container .button-add {
    width: auto;
  }

  .button-add {
    margin: 0;
  }

  .button-add p {
    font-size: 0.75rem;
  }

  .movie-container .btn-color{
    width: 81px;
    height: 67px;
  }

  .img-container .items p {
    margin: 0;
  }

  .img-container .text h3 {
    font-size: 1.5rem;
  }

  .img-container .text h5 {
    margin: 0;
    font-size: 1rem;
  }

  .movie-image img {
    width: 110px;
  }

  .movie-image p {
    margin: 0;
    font-size: 12px;
  }

  .movie-image img:hover {
    width: 110px;
  }


  .footer-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    padding: 0;
}

.textos {
  width: 100%;
  padding: 10px;
}

.imagem img,
.imagem-desc img{
  width: 170px !important;
}
}

@media (max-width: 400px) {
  .navbar-brand img {
    width: 17vw;
  }
  .imagem img,
  .imagem-desc img{
    width: 150px !important;
  }
  .movie-container .btn-color{
    width: 81px;
    height: 67px;
  }
}